@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  font-family: "Poppins";
  font-style: normal;
  background-color: var(--siteBG);
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}
:root {
  --siteBG: #0f1624;
  --siteName: #ffffff;
  --siteRoute: #ffffff;
  --heroTextColor: #ffffff;
  --headerscolor: #ffffff;
}
.mainContainer {
  max-width: 1440px;
}
.sectionHeader {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  margin: 70px;
  color: var(--headerscolor);
  user-select: none;
}
.scrollUP {
  position: fixed;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  animation: jump 3s infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.sliderCont {
  margin: auto;
  max-width: 1000px;
  overflow: hidden;
}
